page-home {
  .scroll-content {
    overflow: hidden;
  }
  .main-contain {
    margin-top: 10px;
  }
  .content-ios, .content-md {
    background: url(../assets/imgs/bg.jpg) center center no-repeat;
    background-size: 100% 100%;
    .app-box {
      width: 80%;
      background-color: #888;
      border-radius: 5px;
    }
    .app-box img {
      padding: 10px;
    }
    .app-title {
      max-width: 120px;
      font-family: 'FiraSans-Bold';
      color: #ffffff;
      text-align: center;
      padding: 10px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 10px;
    }
    .item-ios {
      background-color: #eef5f9;
      z-index: 9999;
    }
    [col-3] {
      padding: 22px 11px 0;
    }
    .manage-btn {
      height: 18px;
    }
    //   .manage-box .button-ios{
    //     padding: 22px 11px 0 0;
    //   }
    .manage-box button {
      padding: 0 0;
      margin: 0.4rem 0;
    }
    .del-ioc {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      top: 16px;
      color: #fff;
      font-size: 20px;
      background: url(../assets/imgs/del.png) center center no-repeat;
      border-radius: 10px;
      text-align: center;
      background-size: 100% 100%;
      z-index: 99999;
    }
  }
  .main-section img {
    width: 120px;
  }
  .grid-down {
    height: 100%;
    z-index: -1;
  }
}
