page-home {
  .scroll-content {
    overflow: hidden;
  }
  .main-contain {
    margin-top: 7px;
    .col {
      text-align: center;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
  .content-ios, .content-md {
    background: url(../assets/imgs/bg.jpg) center center no-repeat;
    background-size: 100% 100%;
    .app-box {
      width: 80%;
      background-color: #888;
      border-radius: 5px;
    }
    .app-box img {
      padding: 10px;
    }
    .app-title {
      max-width: 120px;
      font-family: 'FiraSans-Regular';
      color: #ffffff;
      text-align: center;
      padding-top: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 10px;
    }
    .item-ios {
      background-color: #eef5f9;
      z-index: 9999;
    }
    [col-3] {
      margin-top: 6px;
    }
    .manage-btn {
      height: 18px;
      margin: 30px 0 0 20px;
    }
    .manage-box {
      height: 60px;
    }
    .manage-box button {
      padding: 0 0;
      margin: 0.4rem 0;
    }
    .del-ioc {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      top: 16px;
      color: #fff;
      font-size: 20px;
      background: url(../assets/imgs/del.png) center center no-repeat;
      border-radius: 10px;
      text-align: center;
      background-size: 100% 100%;
      z-index: 99999;
    }
  }

  .grid-down {
    height: 100%;
    z-index: -1;
  }
}
